// THIS FILE IS CODE-GENERATED
// Encapsule holistic v0.0.38 "calvert-rc4" xVMelTFpRSmMS7faXh6MWQ 9aeb4b84798f9e67c9e6513e6890fa354a4fb6db
//

/BUILD/
/DISTS/

# Node.js
node_modules/*

# emacs
*~
\#*

*.log

.DS_Store
